{% extends 'polls/shop.html' %}

{% block category %}
{% if  cate_in == 'null'%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title"><a href="#">Kids</a></h4>
    </div>
</div>
{% else %}
{% for item in categoris  %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a onclick="return getProductById({{item.id}});">
                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                {{item.category_name}}
            </a>
        </h4>
    </div>
    <div id="Sportswear" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                {% for i in cate_in %}
                {% for x in i %}
                <li><a href="#">{{x}} </a></li>
                {% endfor %}

                {% endfor %}

            </ul>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock category %}

{% block product %}

    <div id="product">
        
    </div>

{% endblock product %}